@import "tailwindcss";



@theme{
    --color-primary: #24DC9D;
    --color-hero-bg: #E4E3E2;
    --color-navbar-bg: #10232A;
    --color-image-bg: #e3e1e2;
    --color-dark-bg: #212121;
    --color-navbar-link-bg: #FAFAFA;
    --color-footer-bg: #FFFFFF;
    --width-personalize-width : 200px;
    --width-personalize-link-width: 150px;
    --color-contact-bg: #517599;
    --color-name-photo-bg: #DAFFF5;
}